.container {
  display: flex;
  padding-top: 7%;
  text-align: center;
}

.center {
  margin: 0 auto;
}

.frame {
  text-align: center;
  background: #e4e4e4;
  box-shadow: 0 0 3px rgb(104, 104, 104);
  border-radius: 16px;
}

#current-route {
  margin: 12px 24px;
  cursor: default;
}

.message-container {
  padding: 8px;
  box-sizing: border-box;
}

.message {
  font-size: 12px;
  color: red;
  cursor: default;
}

.input {
  padding-left: 10px;
  margin-top: 8px;
  border-radius: 4px;
  width: 90%;
  border: solid 1px #d4d4d4;
  font-size: 16px;
  padding: 4px;
  font-family: "Nunito", sans-serif;
  outline: none;
}

label {
  font-size: 20px;
}

.input-container {
  background: #f6f6f6;
  padding: 8px 24px;
}

#google-signin-button {
  width: 40%;
  height: auto;
  box-shadow: none;
}

.button {
  background: none;
  text-align: center;
  margin: 16px 0;
  position: inherit;
  border-radius: 5px;
  border: 0;
  transition: transform 0.2s;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #3e3e3e;
  outline: none;
}

.button:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.button-frame {
  display: flex;
  justify-content: center;
}

#sign-up {
  margin-left: 12%;
  text-decoration: none;
  color: #3e3e3e;
  cursor: pointer;
}
