.center {
  margin: 0 auto;
}

.frame {
  margin-top: 7%;
  text-align: center;
  background: var(--frame-grey);
  box-shadow: 0 0 3px rgb(104, 104, 104);
  border-radius: 16px;
  width: fit-content;
}

#current-route {
  margin: 12px 24px;
  cursor: default;
}

.message-container {
  padding: 8px;
  box-sizing: border-box;
}

.message {
  font-size: 12px;
  color: red;
  cursor: default;
}

.input {
  padding-left: 10px;
  margin-top: 8px;
  border-radius: 4px;
  width: 90%;
  border: solid 1px #d4d4d4;
  font-size: 16px;
  padding: 4px;
  font-family: "Nunito", sans-serif;
  outline: none;
}

label {
  font-size: 20px;
}

.input-container {
  background: #f6f6f6;
  padding: 8px 24px;
}

#google-signin-button {
  width: 40%;
  height: auto;
  box-shadow: none;
}

.button {
  background: none;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  position: inherit;
  border-radius: 5px;
  border: 0;
  transition: transform 0.2s;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #3e3e3e;
  outline: none;
}

.button:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.button-frame {
  display: flex;
  justify-content: center;
}

#sign-up {
  margin-left: 12%;
  text-decoration: none;
  color: #3e3e3e;
  cursor: pointer;
}

.helptext {
  position: absolute;
  visibility: hidden;
}


.container {
  padding-top: 16px;
}

.frame {
  width: 80%;
  justify-content: center;
  margin-top: 7%;
  text-align: center;
  background: var(--frame-grey);
  box-shadow: 0 0 3px rgb(104, 104, 104);
  border-radius: 16px;
}

.small-margin-top {
  margin-top: 8px;
}

.poll-container {
  padding: 16px;
  background: #f4f4f4;
}

.input-container {
  background: #f4f4f4;
  margin: 0;
  text-align: left;
}

.choice-container {
  margin: 8px 0;
  padding: 0 16px;
}

.option-container {
  display: flex;
  margin: 16px;
  margin-bottom: 0;
}

.add-question-container {
  display: flex;
  justify-content: center;
}

.add-question-frame {
  margin: 16px 8px;
  padding-left: 8px;
  background: white;
  border-radius: 4px;
  border: solid 1px #d4d4d4;
  margin-left: 0;
}

.add-question-frame > label {
  font-size: 16px;
}



.create-button {
  margin: 17.3px 0;
  border-radius: 3px;
}

.input {
  margin: 8px 0;
  background: #f4f4f4;
  border: none;
  border-radius: 0;
  border-bottom: 2px #3e3e3e dashed;
  width: 95%;
}

select, button {
  font-family: 'Nunito', sans-serif;
  color: #3e3e3e;
  font-size: 16px;
  margin: 0;
  outline: none;
}

select {
  border: none;
  background: white;
  cursor: pointer;
  margin-left: -4px;
  margin-right: -4px;
}

button {
  padding: 4px 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #ff7070;
  transition: transform 0.2s;
  cursor: pointer;
}

button:active {
  background: #ff8888;
}

.checkbox {
  cursor: pointer;
}

.checkbox > li {
  text-align: start;
  list-style: none;
}

.multiple-selection-option-container {
  background: #ff7070;
  border-radius: 3px;
  padding: 0 4px;
}

.multiple-selection-option-container > label {
  margin: 0 4px;
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  #current-route {
    font-size: 24px;
  }

  select {
    border: none;
    background: white;
    cursor: pointer;
    margin-left: -4px;
    margin-right: -16px;
  }

  .option-container {
    margin: 16px 0;
  }
  
  .multiple-selection-option-container > label, .add-choice-button {
    font-size: 10px;
  }
}

.center {
  margin: 0 auto;
}
