{% extends "arbitrator/base.html" %}

{% block title %}
  Arbitrator - Home
{% endblock %}

{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'arbitrator/css/login.css' %}" />
{% endblock %}

{% block content %}
  {% include "arbitrator/includes/navigationbar.html" %}
  <div class="container">
    <div class="frame center">
    </div>
  </div>
{% endblock %}

{% block script %}
  {% include "arbitrator/includes/messageAlert.html" with messages=messages %}
{% endblock %}