{% extends "arbitrator/base.html" %}

{% block title %}
  Arbitrator - Home
{% endblock %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'arbitrator/css/home.css' %}" />
{% endblock %}

{% block content %}
  {% include "arbitrator/includes/navigationbar.html" %}
  <div class="container">
    <div class="poll-container">
      <div class="poll-header-container">
        <h1 class="current-route">All Polls</h1>
      </div>
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Submission</th>
          <th>Owner</th>
          <th>Vote</th>
          <th>Result</th>
        </tr>
        {% for poll in polls %}
        <tr>
          <td>{{poll.label}}</td>
          <td>{{poll.created_date}}</td>
          <td>{{poll.total_submission}}</td>
          <td>{{poll.owner.user.get_username}}</td>
          <td>
            {% if poll.is_vote_available %}
              {% if poll.id in voted_poll_ids %}
                voted
              {% else %}
                <a href="{% url "arbitrator:poll" poll.pk %}" class="vote-button">vote</a>
              {% endif %}
            {% else %}
              unavailable
            {% endif %}
          </td>
          <td>
            {% if poll.is_result_available %}
              <a href="{% url "arbitrator:pollResult" poll.pk %}" class="vote-button">result</a></td>
            {% else %}
              unavailable
            {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}

{% block script %}
  {% include "arbitrator/includes/messageAlert.html" with messages=messages %}
{% endblock %}