<html>
<head>
    <link rel="stylesheet" href="../../static/css/index.css"
</head>

<body>

<h1 id="logo"> Arbitrator</h1>
<h3 id="short-description">description</h3>
<div id ="description">
This application provides a customizable web-based evaluation form with data summarization and status reporting.
<br> Event organizers can create a custom form for their event containing a list of entrants and a set of criteria
<br> that they are to be rated on. Criteria may also include guidance on ratings.
<br> There may optionally be space for entering comments.
</div>

<button id="login-signup" type="button" onclick="alert('Test Test Test')">Login/Signup</button>

</body>
</html>
