<html>
<head>
    <link rel="stylesheet" href="../../static/css/index.css"
</head>

<body>

<h1 id="logo"> Arbitrator</h1>
<div id ="description" style = "text-indent:1cm;">
This application provides a customizable web-based evaluation form with data summarization and status reporting.
Event organizers can create a custom form for their event containing a list of entrants and a set of criteria
that they are to be rated on. Criteria may also include guidance on ratings.
There may optionally be space for entering comments.
</div>

<button id="login-signup" type="button" onclick="alert('Test Test Test')" class = "mydiv">Login/Signup</button>

</body>
</html>
