body {
  height: 100%;
  width: 100%;
  background-image: url("./../images/indexBackground.jpg");
}

#logo {
  margin: 0 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}

.button {
  background: white;
  margin: 10px 34%;
  font-size: 22px;
  position: inherit;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  transition: transform .2s;
}

.button:hover {
  transform: scale(1.02);
}

#description {
  width: 650px;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}

.frame {
  display: flex;
  padding-top: 7%;
}

.center {
  margin: 0 auto;
}
