body {
    background-color: rgb(163, 126, 178);
}

#logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    position: absolute;
    top: 20%;
    left: 40%;
}

#short-description {
    font-size: 22px;
    position: absolute;
    top: 32%;
    left:46%;
}
#login-signup {
    size: 150%;
    font-size: 22px;
    position: absolute;
    top: 60%;
    left:43%;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
}
  
  @keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }

#description {
    font-size: 22px;
    position: absolute;
    top: 35%;
    left:20%;

}
