body {
    height: 100px;
    background: -webkit-linear-gradient(left top, red , blue); 
    background: -o-linear-gradient(bottom right, red, blue); 
    background: -moz-linear-gradient(bottom right, red, blue);
    background: linear-gradient(to bottom right, red , blue); 
}

#logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    position: absolute;
    top: 20%;
    left: 41%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#login-signup {
    size: 150%;
    font-size: 22px;
    position: absolute;
    top: 60%;
    left:43%;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
}
  
  @keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }

#description {
    font-size: 22px;
    position: absolute;
    top: 35%;
    left:24%;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}
